In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
df = pd.read_csv('/kaggle/input/dataset/SeoulBikeData.csv', encoding= 'latin1')
print(df)

            Date  Rented Bike Count  Hour  Temperature(°C)  Humidity(%)  \
0     01/12/2017                254     0             -5.2           37
1     01/12/2017                204     1             -5.5           38
2     01/12/2017                173     2             -6.0           39
3     01/12/2017                107     3             -6.2           40
4     01/12/2017                 78     4             -6.0           36
...          ...                ...   ...              ...          ...
8755  30/11/2018               1003    19              4.2           34
8756  30/11/2018                764    20              3.4           37
8757  30/11/2018                694    21              2.6           39
8758  30/11/2018                712    22              2.1           41
8759  30/11/2018                584    23              1.9           43

      Wind speed (m/s)  Visibility (10m)  Dew point temperature(°C)  \
0                  2.2              2000                      -17.6
1                  0.8              2000                      -17.6
2                  1.0              2000                      -17.7
3                  0.9              2000                      -17.6
4                  2.3              2000                      -18.6
...                ...               ...                        ...
8755               2.6              1894                      -10.3
8756               2.3              2000                       -9.9
8757               0.3              1968                       -9.9
8758               1.0              1859                       -9.8
8759               1.3              1909                       -9.3

      Solar Radiation (MJ/m2)  Rainfall(mm)  Snowfall (cm) Seasons  \
0                         0.0           0.0            0.0  Winter
1                         0.0           0.0            0.0  Winter
2                         0.0           0.0            0.0  Winter
3                         0.0           0.0            0.0  Winter
4                         0.0           0.0            0.0  Winter
...                       ...           ...            ...     ...
8755                      0.0           0.0            0.0  Autumn
8756                      0.0           0.0            0.0  Autumn
8757                      0.0           0.0            0.0  Autumn
8758                      0.0           0.0            0.0  Autumn
8759                      0.0           0.0            0.0  Autumn

         Holiday Functioning Day
0     No Holiday             Yes
1     No Holiday             Yes
2     No Holiday             Yes
3     No Holiday             Yes
4     No Holiday             Yes
...          ...             ...
8755  No Holiday             Yes
8756  No Holiday             Yes
8757  No Holiday             Yes
8758  No Holiday             Yes
8759  No Holiday             Yes

[8760 rows x 14 columns]

In [8]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Date,8760,365,01/12/2017,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rented Bike Count,8760.0,NaN,NaN,NaN,704.602055,644.997468,0.0,191.0,504.5,1065.25,3556.0
Hour,8760.0,NaN,NaN,NaN,11.5,6.922582,0.0,5.75,11.5,17.25,23.0
Temperature(°C),8760.0,NaN,NaN,NaN,12.882922,11.944825,-17.8,3.5,13.7,22.5,39.4
Humidity(%),8760.0,NaN,NaN,NaN,58.226256,20.362413,0.0,42.0,57.0,74.0,98.0
Wind speed (m/s),8760.0,NaN,NaN,NaN,1.724909,1.0363,0.0,0.9,1.5,2.3,7.4
Visibility (10m),8760.0,NaN,NaN,NaN,1436.825799,608.298712,27.0,940.0,1698.0,2000.0,2000.0
Dew point temperature(°C),8760.0,NaN,NaN,NaN,4.073813,13.060369,-30.6,-4.7,5.1,14.8,27.2
Solar Radiation (MJ/m2),8760.0,NaN,NaN,NaN,0.569111,0.868746,0.0,0.0,0.01,0.93,3.52
Rainfall(mm),8760.0,NaN,NaN,NaN,0.148687,1.128193,0.0,0.0,0.0,0.0,35.0
Snowfall (cm),8760.0,NaN,NaN,NaN,0.075068,0.436746,0.0,0.0,0.0,0.0,8.8
Seasons,8760,4,Spring,2208,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Holiday,8760,2,No Holiday,8328,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Functioning Day,8760,2,Yes,8465,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Rented Bike Count          8760 non-null   int64
 1   Hour                       8760 non-null   int64
 2   Temperature(°C)            8760 non-null   float64
 3   Humidity(%)                8760 non-null   int64
 4   Wind speed (m/s)           8760 non-null   float64
 5   Visibility (10m)           8760 non-null   int64
 6   Dew point temperature(°C)  8760 non-null   float64
 7   Solar Radiation (MJ/m2)    8760 non-null   float64
 8   Rainfall(mm)               8760 non-null   float64
 9   Snowfall (cm)              8760 non-null   float64
 10  Seasons                    8760 non-null   object
 11  Holiday                    8760 non-null   object
 12  Functioning Day            8760 non-null   object
 13  Weekday                    8760 non-null   object
 14  Day                        8760 non-null   int32
 15  Month                      8760 non-null   int32
 16  Year                       8760 non-null   int32
dtypes: float64(6), int32(3), int64(4), object(4)
memory usage: 1.0+ MB

In [24]:
df["Date"] = pd.to_datetime(df["Date"])

df["Weekday"] = df["Date"].dt.day_name()
df["Day"] = df["Date"].dt.day
df["Month"] = df["Date"].dt.month
df["Year"] = df["Date"].dt.year

df.drop("Date", axis=1, inplace=True)

KeyError: 'Date'